<h1><%= @event.title %></h1>

<p><%= @event.body %></p>

<ul>
  <li><%= link_to "Edit", edit_event_path(@event) %></li>
  <li><%= link_to "Destroy", event_path(@event), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>

<h2>Comments</h2>
<%= render @event.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>